* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #333333;
  margin-bottom: 2px;
}
header {
  background-color: #0c4614;
  color: #ffffff;
  padding: 10px;
}
header > a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}
header > a:link {
  color: #ffffff;
}
header > a:visited {
  color: #ffffff;
}
header > a:hover {
  color: #cfcfcf;
}

nav {
  display: block;
  float: right;
  padding: 5px 0px;
}
nav ul {
  list-style-type: none;
}
nav li {
  display: inline;
  padding: 0px 10px;
}
nav a {
  text-decoration: none;
  margin-top: 2px;
}
nav a:link {
  color: #cfcfcf;
}
nav a:visited {
  color: #cfcfcf;
}
nav a:hover {
  color: #bcbcbc;
}
p {
  text-align: justify;
  width: 90%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
#content {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
#buttons {
  margin: 10px 0;
}
.button-link-1 {
  display: inline-block;
  text-align: center;
  width: 200px;
  padding: 5px;
  background-color: #0c4614;
  border-radius: 5px;
  text-decoration: none;
  margin: 0 5px;
}
.button-link-1:link {
  color: #ffffff;
}
.button-link-1:visited {
  color: #ffffff;
}
.button-link-1:hover {
  color: #ffffff;
}
#logout {
  color: #cfcfcf;
  background: none;
  border: 2px solid #cfcfcf;
  border-radius: 3px;
  padding: 3px;
}

#logout:hover {
  cursor: pointer;
}

#add-course-open-btn {
  width: 150px;
  color: #0c4614;
  background: none;
  border: 2px solid #0c4614;
  border-radius: 3px;
  padding: 3px;
}

#add-course-open-btn:hover {
  cursor: pointer;
}

#add-module {
  display: none;
  background-color: #e4e4e4;
  padding: 10px;
}
form {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

form label {
  float: left;
}
form input {
  width: 100%;
  margin: 5px 0px;
}
form textarea {
  width: 100%;
  margin: 5px 0px;
}
form select {
  width: 100%;
  margin: 5px 0px;
}
form [type="button"] {
  color: #cfcfcf;
  background-color: #0c4614;
  border: #ffffff00 2px solid;
  border-radius: 5px;
  padding: 3px;
}
form [type="button"]:hover {
  cursor: pointer;
}

.course-card {
  width: 400px;
  margin: 10px;
  text-align: center;
  background-color: #e4e4e4;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
.course-card a {
  display: inline-block;
  width: 198px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  color: #cfcfcf;
  background-color: #0c4614;
  border: 1px solid #cfcfcf;
}
.course-card a:link {
  color: #ffffff;
}
.course-card a:visited {
  color: #ffffff;
}
.course-card a:hover {
  color: #ffffff;
}

#delete-btn {
  width: 50%;
  color: #c50000;
  background: none;
  border: #c50000 2px solid;
  border-radius: 5px;
  padding: 3px;
}

#delete-btn:hover {
  cursor: pointer;
}
.course-card button {
  display: inline-block;
  width: 200px;
  height: 32px;
  line-height: 30px;
  text-decoration: none;
  color: #ffffff;
  background-color: #0c4614;
  border: 1px solid #cfcfcf;
  font-size: 16px;
}
.course-card button:hover {
  color: #ffffff;
  cursor: pointer;
}

.no-courses {
  color: #404040;
}

.button-link-2 {
  display: block;
  text-decoration: none;
  width: 150px;
  color: #0c4614;
  background-color: #ffffff;
  border: 2px solid #0c4614;
  border-radius: 3px;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.button-link-2:link {
  color: #0c4614;
}
.button-link-2:visited {
  color: #0c4614;
}
.button-link-2:hover {
  color: #000000;
  cursor: pointer;
}
#course-details {
  background-color: #eeeeee;
  min-height: 100vh;
  padding: 10px;
}

#error {
  color: #c50000;
}
